body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}
form {
    padding-top: 1.5rem;
}
.form-field {
    display: flex;
    justify-content: center;
    border: .10rem solid;
    width: 600px;
    height: 400px;
    margin-top: 10rem;
    margin-bottom: 10rem;

}
.inputs {
    margin-bottom: 2.5rem;
    width: 75%;
}